$ffh: "Playfair Display", serif;
$ffp: "Open Sans", sans-serif;

$prmc: #c21b21;
$secc: #004720;
$hvrp: #e05444;
$hvrs: #01a34a;

$txtc: #303030;
.colorred {
  color: $prmc;
}

body {
  margin: 0;
  padding: 0;
  font-family: $ffp;
  transition: 0.3s all ease-in-out;
  overflow-x: hidden;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
  transition: 0.3s all ease-in-out;
}
h1,
h2,
h3,
h4 {
  font-family: $ffh;
  padding: 0;
  margin: 0;
}
p {
  font-weight: 300;
  font-size: 16px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
  }
}
table {
  font-weight: 300;
  tr {
    font-size: 16px;
  }
}
input {
  font-family: $ffp;
  font-size: 16px !important;
  font-weight: 300 !important;
}
textarea {
  resize: none;
  font-weight: 300 !important;
}
:hover {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
a:hover {
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
.wrapper {
  width: 1300px;
  margin: 0 auto;
  padding: 0;
}

//Header
.heading-100 {
  width: 100%;
  background: $prmc;
  color: #fff;
  height: 32px;
  line-height: 32px;
  h1 {
    font-size: 10px;
    font-weight: 400;
    float: left;
    line-height: 32px;
  }
  ul.catbtnhead {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
      float: left;
      height: 32px;
      width: 160px;
      margin: 0;
      padding: 0;
      font-size: 0;
      a {
        display: block;
        img {
          height: 26px;
          width: auto;
          float: left;
          transition: 0.3s all ease-in-out;
          margin: 3px 0 3px 5px;
        }
        p {
          display: inline;
          font-size: 10px;
        }
      }
    }
    li:hover {
      a {
        background-color: $hvrp;
        background-size: 100px 32px;
        img {
          height: 22px;
          margin: 5px 0 5px 5px;
        }
      }
    }
  }
}
.header-100 {
  background: #fff;
  height: 70px;
  line-height: 70px;
  padding: 0;
  margin: 0;
  text-align: center;
  z-index: 1000;
  .wrapper {
    position: relative;
    z-index: 1000;
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      line-height: initial;
      img {
        height: 110px;
        transition: 0.3s all ease-in-out;
      }
    }
    .logo:hover > img {
      filter: brightness(1.2);
      transition: 0.3s all ease-in-out;
    }

    nav {
      #maincolbutt {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 0;
        margin: 10px;
        img {
          height: 45px;
        }
      }
      ul {
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box;
        overflow: hidden;
        li {
          float: left;
          h2 {
            font-weight: 300;
            font-size: 16px;
            line-height: inherit;
            a {
              padding: 0 10px;
              text-transform: uppercase;
              span {
                color: $secc;
                display: inline;
                position: relative;
              }
              span:before {
                position: absolute;
                content: "";
                bottom: -3px;
                left: 0;
                height: 2px;
                width: 0;
                background: $hvrs;
                transition: 0.3s all ease-in-out;
              }
            }
            a:hover {
              span {
                color: $hvrs;
              }
              span:before {
                width: 100%;
                transition: 0.3s all ease-in-out;
              }
            }
          }
        }
      }
    }
  }
}

//Sliders

.sliderz {
  width: 100%;
  li {
    width: 100%;
    img {
      width: 100%;
    }
    .onslidetxt {
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(255, 255, 255, 0.7);
      border-radius: 70px;
      height: 140px;
      h4 {
        color: $prmc;
      }
      p {
        color: #303030;
      }
    }
  }
}

.lSSlideOuter {
  position: relative;
}
.lSPager {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) !important;
  padding: 15px !important;
  border-radius: 40px;

  li {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0 !important;
    padding: 5px 0 0 0 !important;
    a {
      width: 15px !important;
      height: 15px !important;
      display: block;
      background: rgba(194, 27, 33, 0.4) !important;
    }
  }
  li:nth-last-of-type(1) {
    margin: 0 !important;
  }
  li.active > a {
    background: $prmc !important;
  }
  li:hover > a {
    background: $hvrp !important;
  }
}

//Afterhero

.afterhero {
  div {
    box-sizing: border-box;
    h4 {
      span {
        color: $prmc;
      }
    }
  }
}
//Text on sliders
.menutxt {
  bottom: 0 !important;
  padding-right: 30px;
  box-sizing: border-box;
  background: none !important;
  height: 100%;
  width: 100%;
  .pricecirc {
    bottom: 0 !important;
    right: 0 !important;
    left: unset;
    width: 140px;
    height: 140px;
    padding: 20px 0;
    line-height: 50px !important;
    border-radius: 50%;
  }
}
.rstrmenu {
  h4 span {
    color: $prmc;
  }
}
.hotelprices {
  h4 span {
    color: $prmc;
  }
}
.sctdd {
  height: 51px !important;
}
//Tables Home Page
table tr td:nth-child(2) {
  color: $prmc;
  font-weight: 400 !important;
  text-align: right;
}
.hploc {
  background: $prmc;
  transition: 0.3s all ease-in-out;
  a {
    .wrapper {
      position: relative;
      img {
        height: 80px;
        position: absolute;
        top: 50%;
        right: 100px;
        transform: translateY(-50%);
      }
    }
  }
}
.hploc:hover {
  background: $hvrp;
}
#gmap_canvas {
  height: 400px !important;
  width: 100%;
}
.footlinks {
  font-size: 14px;
  li {
    a {
      display: inline;
    }

    a:hover {
      color: $hvrp !important;
      transition: 0.3s all ease-in-out;
      filter: drop-shadow(3px 3px 3px #000);
    }
  }
}
.footsoc {
  img {
    height: 50px;
    display: block;
    transition: 0.3s all ease-in-out;
  }
  li:hover > a > img {
    filter: brightness(1.4);
  }
}
.st77 {
  a:hover {
    filter: drop-shadow(6px 6px 6px #000);
  }
}
.footcpr {
  font-size: 10px;
}
/* Sticky navbar classes */
.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  z-index: 100000;
}

.stickystay {
  margin-bottom: 70px;
}

.sticky + .content {
  padding-top: 70px;
}

.addshadowtohead {
  -webkit-filter: drop-shadow(0 5px 5px rgba(70, 70, 70, 0.6));
  filter: drop-shadow(0 5px 5px rgba(70, 70, 70, 0.6));
}
.logoresize {
  height: 50px !important;
  margin: 10px 0 30px 0 !important;
  box-sizing: unset;
  padding-left: 30px;
  transition: 0.3s all ease-in-out;
}
.gmnoprint {
  margin: 40px 10px !important;
}
#btn-in-location {
  border: 1px solid $prmc;
  text-align: center;
  color: $prmc;
  width: 100%;
  background: #fff;
}
#btn-in-location:hover {
  border: 1px solid #fff;
  color: #fff;
  background: $prmc;
}
.contacts {
  img {
    width: 80px;
    transition: 0.3s all ease-in-out;
  }
  a {
    color: $prmc;
  }
  a:hover > {
    p {
      color: $hvrp;
    }
    img {
      filter: drop-shadow(3px 3px 3px #580a0a);
      transition: 0.3s all ease-in-out;
    }
  }
}
.menuhero {
  img {
    width: 100%;
  }
}
.menuimgoverlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(70, 70, 70, 0.5);
  height: 100%;
  width: 100%;
  line-height: 100%;
  h4 {
    width: 100%;
    text-align: center;
  }
}
.menuitems table {
  border-collapse: separate;
  border-spacing: 1em;
}
/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;
  touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;

  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}
/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px 0;
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #343a40;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #fff;
}

.remodal-close:before {
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 12px 0;

  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* Keyframes
   ========================================================================== */

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    transform: none;

    opacity: 1;

    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);

    opacity: 1;
  }
  to {
    transform: scale(0.95);

    opacity: 0;

    filter: blur(0);
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 1300px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

/***** END REMODAL ****/

@media (max-width: 1300px) {
  .wrapper {
    width: 96%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .header-100 {
    line-height: 40px;
  }
  #mainnav ul {
    width: 100%;
    top: 70px;
    overflow: visible;
    background: white;
  }
  .logo img {
    height: 50px;
  }
  .pricestable50 {
    width: 80% !important;
  }
  .logo img {
    height: 50px !important;
    margin: 10px 0 30px 0 !important;
    box-sizing: unset;
    padding-left: 30px;
  }
  .menuitems table {
    width: 100% !important;
  }
}
@media (max-width: 480px) {
  .pricestable50 {
    width: 100% !important;
  }
}
