.colorred {
  color: #c21b21;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  overflow-x: hidden;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
}

p {
  font-weight: 300;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0;
}

table {
  font-weight: 300;
}

table tr {
  font-size: 16px;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px !important;
  font-weight: 300 !important;
}

textarea {
  resize: none;
  font-weight: 300 !important;
}

:hover {
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.wrapper {
  width: 1300px;
  margin: 0 auto;
  padding: 0;
}

.heading-100 {
  width: 100%;
  background: #c21b21;
  color: #fff;
  height: 32px;
  line-height: 32px;
}

.heading-100 h1 {
  font-size: 10px;
  font-weight: 400;
  float: left;
  line-height: 32px;
}

.heading-100 ul.catbtnhead {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.heading-100 ul.catbtnhead li {
  float: left;
  height: 32px;
  width: 160px;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.heading-100 ul.catbtnhead li a {
  display: block;
}

.heading-100 ul.catbtnhead li a img {
  height: 26px;
  width: auto;
  float: left;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  margin: 3px 0 3px 5px;
}

.heading-100 ul.catbtnhead li a p {
  display: inline;
  font-size: 10px;
}

.heading-100 ul.catbtnhead li:hover a {
  background-color: #e05444;
  background-size: 100px 32px;
}

.heading-100 ul.catbtnhead li:hover a img {
  height: 22px;
  margin: 5px 0 5px 5px;
}

.header-100 {
  background: #fff;
  height: 70px;
  line-height: 70px;
  padding: 0;
  margin: 0;
  text-align: center;
  z-index: 1000;
}

.header-100 .wrapper {
  position: relative;
  z-index: 1000;
}

.header-100 .wrapper .logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  line-height: initial;
}

.header-100 .wrapper .logo img {
  height: 110px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.header-100 .wrapper .logo:hover > img {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.header-100 .wrapper nav #maincolbutt {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0;
  margin: 10px;
}

.header-100 .wrapper nav #maincolbutt img {
  height: 45px;
}

.header-100 .wrapper nav ul {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.header-100 .wrapper nav ul li {
  float: left;
}

.header-100 .wrapper nav ul li h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: inherit;
}

.header-100 .wrapper nav ul li h2 a {
  padding: 0 10px;
  text-transform: uppercase;
}

.header-100 .wrapper nav ul li h2 a span {
  color: #004720;
  display: inline;
  position: relative;
}

.header-100 .wrapper nav ul li h2 a span:before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 0;
  background: #01a34a;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.header-100 .wrapper nav ul li h2 a:hover span {
  color: #01a34a;
}

.header-100 .wrapper nav ul li h2 a:hover span:before {
  width: 100%;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.sliderz {
  width: 100%;
}

.sliderz li {
  width: 100%;
}

.sliderz li img {
  width: 100%;
}

.sliderz li .onslidetxt {
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 70px;
  height: 140px;
}

.sliderz li .onslidetxt h4 {
  color: #c21b21;
}

.sliderz li .onslidetxt p {
  color: #303030;
}

.lSSlideOuter {
  position: relative;
}

.lSPager {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
  padding: 15px !important;
  border-radius: 40px;
}

.lSPager li {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0 !important;
  padding: 5px 0 0 0 !important;
}

.lSPager li a {
  width: 15px !important;
  height: 15px !important;
  display: block;
  background: rgba(194, 27, 33, 0.4) !important;
}

.lSPager li:nth-last-of-type(1) {
  margin: 0 !important;
}

.lSPager li.active > a {
  background: #c21b21 !important;
}

.lSPager li:hover > a {
  background: #e05444 !important;
}

.afterhero div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.afterhero div h4 span {
  color: #c21b21;
}

.menutxt {
  bottom: 0 !important;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none !important;
  height: 100%;
  width: 100%;
}

.menutxt .pricecirc {
  bottom: 0 !important;
  right: 0 !important;
  left: unset;
  width: 140px;
  height: 140px;
  padding: 20px 0;
  line-height: 50px !important;
  border-radius: 50%;
}

.rstrmenu h4 span {
  color: #c21b21;
}

.hotelprices h4 span {
  color: #c21b21;
}

.sctdd {
  height: 51px !important;
}

table tr td:nth-child(2) {
  color: #c21b21;
  font-weight: 400 !important;
  text-align: right;
}

.hploc {
  background: #c21b21;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.hploc a .wrapper {
  position: relative;
}

.hploc a .wrapper img {
  height: 80px;
  position: absolute;
  top: 50%;
  right: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hploc:hover {
  background: #e05444;
}

#gmap_canvas {
  height: 400px !important;
  width: 100%;
}

.footlinks {
  font-size: 14px;
}

.footlinks li a {
  display: inline;
}

.footlinks li a:hover {
  color: #e05444 !important;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-filter: drop-shadow(3px 3px 3px #000);
          filter: drop-shadow(3px 3px 3px #000);
}

.footsoc img {
  height: 50px;
  display: block;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.footsoc li:hover > a > img {
  -webkit-filter: brightness(1.4);
          filter: brightness(1.4);
}

.st77 a:hover {
  -webkit-filter: drop-shadow(6px 6px 6px #000);
          filter: drop-shadow(6px 6px 6px #000);
}

.footcpr {
  font-size: 10px;
}

/* Sticky navbar classes */
.sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  z-index: 100000;
}

.stickystay {
  margin-bottom: 70px;
}

.sticky + .content {
  padding-top: 70px;
}

.addshadowtohead {
  -webkit-filter: drop-shadow(0 5px 5px rgba(70, 70, 70, 0.6));
  filter: drop-shadow(0 5px 5px rgba(70, 70, 70, 0.6));
}

.logoresize {
  height: 50px !important;
  margin: 10px 0 30px 0 !important;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  padding-left: 30px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.gmnoprint {
  margin: 40px 10px !important;
}

#btn-in-location {
  border: 1px solid #c21b21;
  text-align: center;
  color: #c21b21;
  width: 100%;
  background: #fff;
}

#btn-in-location:hover {
  border: 1px solid #fff;
  color: #fff;
  background: #c21b21;
}

.contacts img {
  width: 80px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.contacts a {
  color: #c21b21;
}

.contacts a:hover > p {
  color: #e05444;
}

.contacts a:hover > img {
  -webkit-filter: drop-shadow(3px 3px 3px #580a0a);
          filter: drop-shadow(3px 3px 3px #580a0a);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.menuhero img {
  width: 100%;
}

.menuimgoverlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(70, 70, 70, 0.5);
  height: 100%;
  width: 100%;
  line-height: 100%;
}

.menuimgoverlay h4 {
  width: 100%;
  text-align: center;
}

.menuitems table {
  border-collapse: separate;
  border-spacing: 1em;
}

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

/* Anti FOUC */
.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */
.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

/* Necessary styles of the wrapper */
.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */
.remodal {
  position: relative;
  outline: none;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

/* Default theme styles of the overlay */
.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
          animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
          animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */
.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */
.remodal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #343a40;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
          animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
          animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */
.remodal-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: visible;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #fff;
}

.remodal-close:before {
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Keyframes
   ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0;
  }
  to {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    opacity: 0;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */
@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 1300px;
  }
}

/* IE8
   ========================================================================== */
.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

/***** END REMODAL ****/
@media (max-width: 1300px) {
  .wrapper {
    width: 96%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header-100 {
    line-height: 40px;
  }
  #mainnav ul {
    width: 100%;
    top: 70px;
    overflow: visible;
    background: white;
  }
  .logo img {
    height: 50px;
  }
  .pricestable50 {
    width: 80% !important;
  }
  .logo img {
    height: 50px !important;
    margin: 10px 0 30px 0 !important;
    -webkit-box-sizing: unset;
            box-sizing: unset;
    padding-left: 30px;
  }
  .menuitems table {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .pricestable50 {
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */